body {
	text-align: center;
}

hr {
	width: 600px;
}

.grid-container {
	width: 500px;
	height: 500px;

	background-color: rgb(108, 108, 229);
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid rgb(0, 0, 0);
	justify-content: center;
	align-content: center;
}

.tile {
	width: 115px;
	height: 115px;
	border: 1px solid rgb(0, 0, 0);

	margin: 2px;
	background-color: aliceblue;
	font-size: 50px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}
